doctype html

html(lang="en")
	include _includes.pug

	head 
		title Ilias Login
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	body 
		form(action="/callback", method="POST")
			div 
				label(for="username") Username*
				input#username(type="text", name="username", autocomplete="username", required)
			div 
				label(for="password") Password*
				input#password(type="password", name="password", autocomplete="current-password", required)
			button(type="submit") Login
			input(type="hidden", name="discord_id", value=discordId)
			input(type="hidden", name="code", value=code)
		if failiure
			p.red Failiure Logging in
			p.red #{failiure}
