form {
	display: flex;
	flex-direction: column;
}

form > * {
	margin: 1em;
}

form > div {
	display: flex;
	flex-direction: column;
}

.red {
	color: red;
}

span.code {
	background-color: lightgrey;
	padding: 2px;
}
